{% extends 'base.html.twig' %}

{% block title %}Oeufs index{% endblock %}

{% block body %}

    <div class="container-fluid backgroundBruno">
        <a class="btn btn-secondary mt-5 float-right" href="{{ path('indexAdministration') }}">Retour à l'accueil administration</a>

            <div class="text-center">
                <h1 class="jumbotronTitle titleAdmin">Oeufs index</h1>
            </div>

            <div class="text-left">
                <h2 class="jumbotronTitle pt-4">Liste de tous les oeufs</h2>
            </div>

        <a class="btn btn-secondary float-right mb-5 mt-5" href="{{ path('egg_new') }}">Ajouter</a>

        <table class="table">
            <thead class="tableWhite">
            <tr>
                <th>Id</th>
                <th>Type</th>
                <th>Titre</th>
                <th>Description</th>
                <th>Chemin source</th>
                <th>Categorie</th>
                <th>Apperçu</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody class="tableWhite">
            {% for egg in eggs %}
                <tr>
                    <td>{{ egg.id }}</td>
                    <td>{{ egg.type }}</td>
                    <td>{{ egg.title }}</td>
                    <td>{{ egg.description }}</td>
                    <td>{{ egg.img }}</td>
                    <td>{{ egg.category }}</td>
                    <td><img src="{{ asset(egg.img) }}" alt="oeuvre de Mr Turgis" style="width: 10vw"></td>
                    <td>
                        <a class="btn btn-primary" href="{{ path('egg_show', {'id': egg.id}) }}">Voir</a>
                        <a class="btn btn-secondary" href="{{ path('egg_edit', {'id': egg.id}) }}">Editer</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="7">Aucun résultat</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
