{% extends 'base.html.twig' %}

{# Le code de cette page fut réalisé par Bruno Prédot - 11/2019
created by Prédot Bruno - 11/2019 #}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/responsive_timeline/style.css') }}">
    <link href="https://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Droid+Serif" rel="stylesheet">
{% endblock %}

{% block title %}Les peintures, de style 'Fantastique'.{% endblock %}

{% block body %}

    <div class="jumbotronClassicalOil text-white">
        <div class="text-center">
            <h1 class="jumbotronTitle">Les peintures à huile de style 'Fantastique'.</h1>
        </div>

        <div class="container">
            <p class="jumbotronTitle explain pt-4">Peinture à huile.</p>
            <p class="jumbotronTitle explain">
                Jean de Bruges, peintre Flamand, est le premier qui ait employé l’huile dans la peinture.
                La peinture à l’huile a plusieurs avantages sur les autres manières de peindre ; l’huile adoucit les couleurs qui y sont
                détrempées, elles imitent mieux le naturel, et marquent plus fortement les ombres. Les tableaux peints à l’huile peuvent
                se retoucher, mais très difficilement sans qu’il y paraisse au bout de certain temps, après qu’ils ont été finis et achevés. <br>
                La peinture à l’huile est très bonne pour les tableaux de moyenne grandeur. On l’emploie cependant dans de grands ouvrages,
                comme dans des coupoles, des galeries, mais l’humidité en détache des morceaux ce qui n’arrive point à la fresque. Les
                meilleurs huiles qu’on puisse employer, sont l’huile de lin, l’huile de noix et l’huile d’oliette<br>
                (Pernety – dictionnaire des arts – 1757).
            </p>
        </div><!-- end container -->

    </div><!-- end jumbotron -->

    <h1 style="text-align: center; color: white; margin-top:150px; background-color: #444444; opacity: 0.9">Du classique, du surréaliste, de l'étrange, du curieux.</h1>

    <div class="timeLine">
        <div class="row">
            <div class="lineHeader hidden-sm hidden-xs"></div>
            <div class="lineFooter hidden-sm hidden-xs"></div>

            <!-- img 1 -->
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 item" >
                <div class="caption">
                    <div class="star center-block">
                        <span class="h3">1</span>
                    </div>
                    <div class="image">
                        <img class="realImage" src="{{ asset('img/peintures/huile/fantastique/huileF1.jpg') }}">
                        <div class="title">
                            <h2>Symbolique<i class="fa fa-arrow-circle-right" aria-hidden="true"></i></h2>
                        </div>
                    </div>
                    <div class="textContent">
                        <p class="lead">Petit matin au paradis. A l'origine, la pomme ou l'oeuf.</p>
                    </div>
                </div>
            </div>
            <!-- img 2 -->
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 item">
                <div class="caption">
                    <div class="star center-block">
                        <span class="h3">2</span>
                    </div>
                    <div class="image">
                        <img class="realImage" src="{{ asset('img/peintures/huile/fantastique/huileF2.jpg') }}">
                        <div class="title">
                            <h2>Verdoyance<i class="fa fa-arrow-circle-right" aria-hidden="true"></i></h2>
                        </div>
                    </div>
                    <div class="textContent">
                        <p class="lead">Eirikr  TURGIS de Normandie. <br>
                            "Sans tabou ni censure, sans haine ni racisme, dans un échange de liberté".	"Français assurément, Normand entièrement"</p>
                    </div>
                </div>
            </div>
            <!-- img 3 -->
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 item">
                <div class="caption">
                    <div class="star center-block">
                        <span class="h3">3</span>
                    </div>
                    <div class="image">
                        <img class="realImage" src="{{ asset('img/peintures/huile/fantastique/huileF3.jpg') }}">
                        <div class="title">
                            <h2>Abre de vie<i class="fa fa-arrow-circle-right" aria-hidden="true"></i></h2>
                        </div>
                    </div>
                    <div class="textContent">
                        <p class="lead">
                            Qabbalah et sephiroth.
                            Un hommage à certains maîtres et au Sefer ha-Yetzirah, Sefer ha-Bahir, Sefer ha-Zohar.
                            Tableaux de style Surréaliste.</p>
                    </div>
                </div>
            </div>
            <!-- img 4 -->
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 item">
                <div class="caption">
                    <div class="star center-block">
                        <span class="h3">4</span>
                    </div>
                    <div class="image">
                        <img class="realImage" src="{{ asset('img/peintures/huile/fantastique/huileF4.jpg') }}">
                        <div class="title">
                            <h2>Le temps<i class="fa fa-arrow-circle-right" aria-hidden="true"></i></h2>
                        </div>
                    </div>
                    <div class="textContent">
                        <p class="lead">Ecoulement du temps. Tableaux de style Surréaliste.</p>
                    </div>
                </div>
            </div>
            <!-- img 5 -->
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 item">
                <div class="caption">
                    <div class="star center-block">
                        <span class="h3">5</span>
                    </div>
                    <div class="image">
                        <img class="realImage" src="{{ asset('img/peintures/huile/fantastique/huileF5.jpg') }}">
                        <div class="title">
                            <h2>Pêche aérienne<i class="fa fa-arrow-circle-right" aria-hidden="true"></i></h2>
                        </div>
                    </div>
                    <div class="textContent">
                        <p class="lead">Berck sous mer.
                            Pêche aérienne au-dessus de la ville de Berck dont nous pouvons apercevoir l'hôtel de ville à droite
                            et l'église st jean-baptiste à gauche. Tableaux de style Surréaliste.</p>
                    </div>
                </div>
            </div>
            <!-- img 6 -->
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 item">
                <div class="caption">
                    <div class="star center-block">
                        <span class="h3">6</span>
                    </div>
                    <div class="image">
                        <img class="realImage" src="{{ asset('img/peintures/huile/fantastique/huileF6.jpg') }}">
                        <div class="title">
                            <h2>Piano<i class="fa fa-arrow-circle-right" aria-hidden="true"></i></h2>
                        </div>
                    </div>
                    <div class="textContent">
                        <p class="lead">Création pianistique. Tableaux de style Surréaliste.</p>
                    </div>
                </div>
            </div>
            <!-- img 7 -->
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 item">
                <div class="caption">
                    <div class="star center-block">
                        <span class="h3">7</span>
                    </div>
                    <div class="image">
                        <img class="realImage" src="{{ asset('img/peintures/huile/fantastique/huileF7.jpg') }}">
                        <div class="title">
                            <h2>Notre Dame<i class="fa fa-arrow-circle-right" aria-hidden="true"></i></h2>
                        </div>
                    </div>
                    <div class="textContent">
                        <p class="lead">Notre-dame de Paris à la recherche de ses sculptures. Tableaux de style Surréaliste.</p>
                    </div>
                </div>
            </div>
            <!-- img 8 -->
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 item">
                <div class="caption">
                    <div class="star center-block">
                        <span class="h3">8</span>
                    </div>
                    <div class="image">
                        <img class="realImage" src="{{ asset('img/peintures/huile/fantastique/huileF8.jpg') }}">
                        <div class="title">
                            <h2>Symbolique<i class="fa fa-arrow-circle-right" aria-hidden="true"></i></h2>
                        </div>
                    </div>
                    <div class="textContent">
                        <p class="lead">Souffrance ou espoir d'une délivrance. "Ne jamais oublier" <br>
                            Représentation de la souffrance  de ceux qui vécurent dans les camps d'extermination.
                            Si les personnages sont bleus c'est uniquement pour montrer l'universalité dans la persécution.
                            Que ces personnes soient juives, catholiques, bouddhistes, protestantes, musulmanes, ou qu'elles aient
                            la peau blanche, basanée, noire, rouge, jaune, homo bi ou hétérosexuel, cela importe peu, elles ont
                            soufferts elles furent exterminées. Il ne doit pas y avoir de catégorie et d'ordre dans la souffrance
                            et la persécution. Aucune n'est mieux que l'autre.</p>
                    </div>
                </div>
            </div>
            <!-- img 9 -->
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 item">
                <div class="caption">
                    <div class="star center-block">
                        <span class="h3">9</span>
                    </div>
                    <div class="image">
                        <img class="realImage" src="{{ asset('img/peintures/huile/fantastique/huileF9.jpg') }}">
                        <div class="title">
                            <h2>Tricératops<i class="fa fa-arrow-circle-right" aria-hidden="true"></i></h2>
                        </div>
                    </div>
                    <div class="textContent">
                        <p class="lead">Dragon fixant le crâne de tricératops et se demandant si celui-ci était son ancêtre.</p>
                    </div>
                </div>
            </div>
            <!-- img 10 -->
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 item">
                <div class="caption">
                    <div class="star center-block">
                        <span class="h3">10</span>
                    </div>
                    <div class="image">
                        <img class="realImage" src="{{ asset('img/peintures/huile/fantastique/huileF10.jpg') }}">
                        <div class="title">
                            <h2>Traversée<i class="fa fa-arrow-circle-right" aria-hidden="true"></i></h2>
                        </div>
                    </div>
                    <div class="textContent">
                        <p class="lead">La traversée des limbes.</p>
                    </div>
                </div>
            </div>
            <!-- img 11 -->
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 item">
                <div class="caption">
                    <div class="star center-block">
                        <span class="h3">11</span>
                    </div>
                    <div class="image">
                        <img class="realImage" src="{{ asset('img/peintures/huile/fantastique/huileF11.jpg') }}">
                        <div class="title">
                            <h2>Un certain nautonnier<i class="fa fa-arrow-circle-right" aria-hidden="true"></i></h2>
                        </div>
                    </div>
                    <div class="textContent">
                        <p class="lead">
                            Une vision chaleureuse de l'enfer de certaines religions.</p>
                    </div>
                </div>
            </div>
            <!-- img 12 -->
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 item">
                <div class="caption">
                    <div class="star center-block">
                        <span class="h3">12</span>
                    </div>
                    <div class="image">
                        <img class="realImage" src="{{ asset('img/peintures/huile/fantastique/huileF12.jpg') }}">
                        <div class="title">
                            <h2>Déliquescence de la musique<i class="fa fa-arrow-circle-right" aria-hidden="true"></i></h2>
                        </div>
                    </div>
                    <div class="textContent">
                        <p class="lead">
                            Dans un monde en destruction,  surchauffant dans ses malsaines pulsations, la musique peut  apporter un
                            bienfait et un apaisement, mais comme toute arme à son revers les musiques peuvent galvaniser un peuple
                            en route pour sa destruction.</p>
                    </div>
                </div>
            </div>
            <!-- img 13 -->
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 item">
                <div class="caption">
                    <div class="star center-block">
                        <span class="h3">13</span>
                    </div>
                    <div class="image">
                        <img class="realImage" src="{{ asset('img/peintures/huile/fantastique/huileF13.jpg') }}">
                        <div class="title">
                            <h2>Gargouilles<i class="fa fa-arrow-circle-right" aria-hidden="true"></i></h2>
                        </div>
                    </div>
                    <div class="textContent">
                        <p class="lead">Interrogations gargouillesques sur la nuit de Walpurgis.</p>
                    </div>
                </div>
            </div>
            <!-- img 14 -->
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 item">
                <div class="caption">
                    <div class="star center-block">
                        <span class="h3">14</span>
                    </div>
                    <div class="image">
                        <img class="realImage" src="{{ asset('img/peintures/huile/fantastique/huileF14.jpg') }}">
                        <div class="title">
                            <h2>Oiseau<i class="fa fa-arrow-circle-right" aria-hidden="true"></i></h2>
                        </div>
                    </div>
                    <div class="textContent">
                        <p class="lead">Concurrence déloyale.</p>
                    </div>
                </div>
            </div>
            <!-- img 15 -->
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 item">
                <div class="caption">
                    <div class="star center-block">
                        <span class="h3">15</span>
                    </div>
                    <div class="image">
                        <img class="realImage" src="{{ asset('img/peintures/huile/fantastique/huileF15.jpg') }}">
                        <div class="title">
                            <h2>Dragon des enfers<i class="fa fa-arrow-circle-right" aria-hidden="true"></i></h2>
                        </div>
                    </div>
                    <div class="textContent">
                        <p class="lead">Guerrier contre dragon de feu. </p>
                    </div>
                </div>
            </div>
            <!-- img 16 -->
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 item">
                <div class="caption">
                    <div class="star center-block">
                        <span class="h3">16</span>
                    </div>
                    <div class="image">
                        <img class="realImage" src="{{ asset('img/peintures/huile/fantastique/huileF16.jpg') }}">
                        <div class="title">
                            <h2>&Eacute;glise (Chartres)<i class="fa fa-arrow-circle-right" aria-hidden="true"></i></h2>
                        </div>
                    </div>
                    <div class="textContent">
                        <p class="lead">Tableaux de style Surréaliste.<br>
                            Toutes ressemblances avec les écuries d'Augias ......<br>
                            Un bon nettoyage pour redonner la valeur première à certaines conceptions du monde.</p>
                    </div>
                </div>
            </div>
            <!-- img 17 -->
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 item">
                <div class="caption">
                    <div class="star center-block">
                        <span class="h3">17</span>
                    </div>
                    <div class="image">
                        <img class="realImage" src="{{ asset('img/peintures/huile/fantastique/huileF17.jpg') }}">
                        <div class="title">
                            <h2>Rapa Nui<i class="fa fa-arrow-circle-right" aria-hidden="true"></i></h2>
                        </div>
                    </div>
                    <div class="textContent">
                        <p class="lead"></p>
                    </div>
                </div>
            </div>
            <!-- img 18 -->
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 item">
                <div class="caption">
                    <div class="star center-block">
                        <span class="h3">18</span>
                    </div>
                    <div class="image">
                        <img class="realImage" src="{{ asset('img/peintures/huile/fantastique/huileF18.jpg') }}">
                        <div class="title">
                            <h2>Dragon et son élu<i class="fa fa-arrow-circle-right" aria-hidden="true"></i></h2>
                        </div>
                    </div>
                    <div class="textContent">
                        <p class="lead">Présentation de l'élu. <br>
                            Le dragon présente l'enfant magicien au grand maître sorcier.</p>
                    </div>
                </div>
            </div>
            <!-- img 19 -->
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 item">
                <div class="caption">
                    <div class="star center-block">
                        <span class="h3">19</span>
                    </div>
                    <div class="image">
                        <img class="realImage" src="{{ asset('img/peintures/huile/fantastique/huileF19.jpg') }}">
                        <div class="title">
                            <h2>Notre Dame<i class="fa fa-arrow-circle-right" aria-hidden="true"></i></h2>
                        </div>
                    </div>
                    <div class="textContent">
                        <p class="lead">Notre dame au vitrail. Du fantastique, du surréaliste, de l'étrange, du curieux.</p>
                    </div>
                </div>
            </div>
            <!-- img 20 -->
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 item">
                <div class="caption">
                    <div class="star center-block">
                        <span class="h3">20</span>
                    </div>
                    <div class="image">
                        <img class="realImage" src="{{ asset('img/peintures/huile/fantastique/huileF20.jpg') }}">
                        <div class="title">
                            <h2>Le mont st-Michel aérien<i class="fa fa-arrow-circle-right" aria-hidden="true"></i></h2>
                        </div>
                    </div>
                    <div class="textContent">
                        <p class="lead">Tableaux de style Surréaliste.<br>
                            Le mont saint-Michel est une des plus belles créations tant par son implantation que par l'audace de
                            ces constructeurs à faire tenir autant de bâtiment sur cet éperon rocheux.
                            Mise à part le côté purement religieux que j'ôte pour ne garder que l'architecture, ensuite on enlève
                            la masse de touristes, alors le mont serait un lieu idéal pour une retraite au calme coupé du monde.
                            Petite précision, il est strictement NORMAND, comment pourrait il en être autrement, construit avec
                            des capitaux normands, dirigé par des normands, défendus par des normands. ne parle-t-on pas d'Art
                            normand pour décrire le style roman caractéristique. les normands influencèrent et imposèrent un style
                            dans une grande partie de l'Europe. On retrouve l'architecture normande en Angleterre, Ecosse, Irlande, Sicile.. </p>
                    </div>
                </div>
            </div>
            <!-- img 21 -->
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 item">
                <div class="caption">
                    <div class="star center-block">
                        <span class="h3">21</span>
                    </div>
                    <div class="image">
                        <img class="realImage" src="{{ asset('img/peintures/huile/fantastique/huileF21.jpg') }}">
                        <div class="title">
                            <h2>Diableries<i class="fa fa-arrow-circle-right" aria-hidden="true"></i></h2>
                        </div>
                    </div>
                    <div class="textContent">
                        <p class="lead">Du fantastique, du surréaliste, de l'étrange, du curieux.</p>
                    </div>
                </div>
            </div>
            <!-- img 22 -->
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 item">
                <div class="caption">
                    <div class="star center-block">
                        <span class="h3">22</span>
                    </div>
                    <div class="image">
                        <img class="realImage" src="{{ asset('img/peintures/huile/fantastique/huileF22.jpg') }}">
                        <div class="title">
                            <h2>Symbolique<i class="fa fa-arrow-circle-right" aria-hidden="true"></i></h2>
                        </div>
                    </div>
                    <div class="textContent">
                        <p class="lead">Combat entre des reptiliens et des ophidiens.</p>
                    </div>
                </div>
            </div>
            <!-- img 23 -->
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 item">
                <div class="caption">
                    <div class="star center-block">
                        <span class="h3">23</span>
                    </div>
                    <div class="image">
                        <img class="realImage" src="{{ asset('img/peintures/huile/fantastique/huileF23.jpg') }}">
                        <div class="title">
                            <h2>Babel<i class="fa fa-arrow-circle-right" aria-hidden="true"></i></h2>
                        </div>
                    </div>
                    <div class="textContent">
                        <p class="lead">Babel encore et toujours.</p>
                    </div>
                </div>
            </div>
            <!-- img 24 -->
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 item">
                <div class="caption">
                    <div class="star center-block">
                        <span class="h3">24</span>
                    </div>
                    <div class="image">
                        <img class="realImage" src="{{ asset('img/peintures/huile/fantastique/huileF24.jpg') }}">
                        <h2>Babel<i class="fa fa-arrow-circle-right" aria-hidden="true"></i></h2>
                    </div>
                </div>
                <div class="textContent">
                    <p class="lead">Petie babel en construction.</p>
                    </div>
                </div>
            </div>
            <!-- img 25 -->
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 item">
                <div class="caption">
                    <div class="star center-block">
                        <span class="h3">25</span>
                    </div>
                    <div class="image">
                        <img class="realImage" src="{{ asset('img/peintures/huile/fantastique/huileF25.jpg') }}">
                        <div class="title">
                            <h2>Destin<i class="fa fa-arrow-circle-right" aria-hidden="true"></i></h2>
                        </div>
                    </div>
                    <div class="textContent">
                        <p class="lead">Nornes destin sur yggdrasill</p>
                    </div>
                                                                        <div class="title">
                </div>
            </div>
            <!-- img 26 -->
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 item">
                <div class="caption">
                    <div class="star center-block">
                        <span class="h3">26</span>
                    </div>
                    <div class="image">
                        <img class="realImage" src="{{ asset('img/peintures/huile/fantastique/huileF26.jpg') }}">
                        <div class="title">
                            <h2>Paysage<i class="fa fa-arrow-circle-right" aria-hidden="true"></i></h2>
                        </div>
                    </div>
                    <div class="textContent">
                        <p class="lead">Paysage aux quatre elements.</p>
                    </div>
                </div>
            </div>
            <!-- img 27 -->
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 item">
                <div class="caption">
                    <div class="star center-block">
                        <span class="h3">27</span>
                    </div>
                    <div class="image">
                        <img class="realImage" src="{{ asset('img/peintures/huile/fantastique/huileF27.jpg') }}">
                        <div class="title">
                            <h2>Serpent<i class="fa fa-arrow-circle-right" aria-hidden="true"></i></h2>
                        </div>
                    </div>
                    <div class="textContent">
                        <p class="lead">Homme et  femme serpent.</p>
                    </div>
                </div>
            </div>
            <!-- img 28 -->
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 item">
                <div class="caption">
                    <div class="star center-block">
                        <span class="h3">28</span>
                    </div>
                    <div class="image">
                        <img class="realImage" src="{{ asset('img/peintures/huile/fantastique/huileF28.jpg') }}">
                        <div class="title">
                            <h2>Déracinement<i class="fa fa-arrow-circle-right" aria-hidden="true"></i></h2>
                        </div>
                    </div>
                    <div class="textContent">
                        <p class="lead">Déracinement lieux culte.</p>
                    </div>
                </div>
            </div>
            <!-- img 29 -->
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 item">
                <div class="caption">
                    <div class="star center-block">
                        <span class="h3">29</span>
                    </div>
                    <div class="image">
                        <img class="realImage" src="{{ asset('img/peintures/huile/fantastique/huileF29.jpg') }}">
                        <div class="title">
                            <h2>Cicatrices forestières<i class="fa fa-arrow-circle-right" aria-hidden="true"></i></h2>
                        </div>
                    </div>
                    <div class="textContent">
                        <p class="lead">Cicatrices forestières.</p>
                    </div>
                </div>
            </div>
            <!-- img 30 -->
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 item">
                <div class="caption">
                    <div class="star center-block">
                        <span class="h3">30</span>
                    </div>
                    <div class="image">
                        <img class="realImage" src="{{ asset('img/peintures/huile/fantastique/huileF30.jpg') }}">
                        <div class="title">
                            <h2>Magie<i class="fa fa-arrow-circle-right" aria-hidden="true"></i></h2>
                        </div>
                    </div>
                    <div class="textContent">
                        <p class="lead">Magie, la fin justifie les moyens.</p>
                    </div>
                </div>
            </div>
            <!-- img 31 -->
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 item">
                <div class="caption">
                    <div class="star center-block">
                        <span class="h3">31</span>
                    </div>
                    <div class="image">
                        <img class="realImage" src="{{ asset('img/peintures/huile/fantastique/huileF31.jpg') }}">
                        <div class="title">
                            <h2>A qui la faute<i class="fa fa-arrow-circle-right" aria-hidden="true"></i></h2>
                        </div>
                    </div>
                    <div class="textContent">
                        <p class="lead">A qui la faute.</p>
                    </div>
                </div>
            </div>
            <!-- img 32 -->
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 item">
                <div class="caption">
                    <div class="star center-block">
                        <span class="h3">32</span>
                    </div>
                    <div class="image">
                        <img class="realImage" src="{{ asset('img/peintures/huile/fantastique/huileF32.jpg') }}">
                        <div class="title">
                            <h2>Esprit forestier<i class="fa fa-arrow-circle-right" aria-hidden="true"></i></h2>
                        </div>
                    </div>
                    <div class="textContent">
                        <p class="lead">Esprit forestier.</p>
                    </div>
                </div>
            </div>
            <!-- img 33 -->
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 item">
                <div class="caption">
                    <div class="star center-block">
                        <span class="h3">33</span>
                    </div>
                    <div class="image">
                        <img class="realImage" src="{{ asset('img/peintures/huile/fantastique/huileF33.jpg') }}">
                        <div class="title">
                            <h2>Crayons<i class="fa fa-arrow-circle-right" aria-hidden="true"></i></h2>
                        </div>
                    </div>
                    <div class="textContent">
                        <p class="lead">La rebellion des crayons.</p>
                    </div>
                </div>
            </div>
            <!-- img 34 -->
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 item">
                <div class="caption">
                    <div class="star center-block">
                        <span class="h3">34</span>
                    </div>
                    <div class="image">
                        <img class="realImage" src="{{ asset('img/peintures/huile/fantastique/huileF34.jpg') }}">
                        <div class="title">
                            <h2>Déluge<i class="fa fa-arrow-circle-right" aria-hidden="true"></i></h2>
                        </div>
                    </div>
                    <div class="textContent">
                        <p class="lead">Déluge, dieu et monstre aquatique. Du classique, du surréaliste, de l'étrange, du curieux.</p>
                    </div>
                </div>
            </div>
            <!-- img 35 -->
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 item">
                <div class="caption">
                    <div class="star center-block">
                        <span class="h3">35</span>
                    </div>
                    <div class="image">
                        <img class="realImage" src="{{ asset('img/peintures/huile/fantastique/huileF35.jpg') }}">
                        <div class="title">
                            <h2>Enfer<i class="fa fa-arrow-circle-right" aria-hidden="true"></i></h2>
                        </div>
                    </div>
                    <div class="textContent">
                        <p class="lead">Enfer et contre vous. "Sans tabou ni censure, sans haine ni racisme, dans un échange de liberté".</p>
                    </div>
                </div>
            </div>
            <!-- img 36 -->
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 item">
                <div class="caption">
                    <div class="star center-block">
                        <span class="h3">36</span>
                    </div>
                    <div class="image">
                        <img class="realImage" src="{{ asset('img/peintures/huile/fantastique/huileF36.jpg') }}">
                        <div class="title">
                            <h2>Fulgurance de la douleur<i class="fa fa-arrow-circle-right" aria-hidden="true"></i></h2>
                        </div>
                    </div>
                    <div class="textContent">
                        <p class="lead">Qui n'a pas souffert lui-même ne peut comprendre la douleur car comment expliquer en
                            mots quelque chose de si invisible et impalpable que la douleur.</p>
                    </div>
                </div>
            </div>
            <!-- img 37 -->
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 item">
                <div class="caption">
                    <div class="star center-block">
                        <span class="h3">37</span>
                    </div>
                    <div class="image">
                        <img class="realImage" src="{{ asset('img/peintures/huile/fantastique/huileF37.jpg') }}">
                        <div class="title">
                            <h2>Impuissance dans la douleur<i class="fa fa-arrow-circle-right" aria-hidden="true"></i></h2>
                        </div>
                    </div>
                    <div class="textContent">
                        <p class="lead">
                            Douleur lancinante puis fulgurante, terrible, qui transperce tel
                            un poignard que l'on enfonce et que  l'on bouge dans la plaie.</p>
                    </div>
                </div>
            </div>
            <!-- img 38 -->
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 item">
                <div class="caption">
                    <div class="star center-block">
                        <span class="h3">38</span>
                    </div>
                    <div class="image">
                        <img class="realImage" src="{{ asset('img/peintures/huile/fantastique/huileF38.jpg') }}">
                        <div class="title">
                            <h2>Délire neuronal<i class="fa fa-arrow-circle-right" aria-hidden="true"></i></h2>
                        </div>
                    </div>
                    <div class="textContent">
                        <p class="lead">Délire spermatique et neuronal.</p>
                    </div>
                </div>
            </div>

        </div>
    </div> <!-- end timeline -->

    {% block javascripts %}
    {% endblock %}
    <script src="{{ asset('js/responsive_timeline/timeLine.js') }}"></script>
    <script src="{{ asset('js/responsive_timeline/script.js') }}"></script>

{% endblock %}