{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/responsive_timeline/style.css') }}">
    <link href="https://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Droid+Serif" rel="stylesheet">
{% endblock %}
{% block title %}Les peintures, gouache et aquarelles{% endblock %}

{% block body %}

    <div class="jumbotronAqua text-white">
        <div class="text-center">
            <h1 class="jumbotronTitle">Les peintures, gouache et aquarelles</h1>
        </div>

        <div class="container">
            <p class="jumbotronTitle explain pt-4">Aquarelle (du lat. aqua : eau) <br>
            Dessin au lavis, pour lequel on emploie les couleurs transparentes délayées dans l'eau ;
                ce qui forme une espèce de peinture sans empâtement. De belles aquarelles.
            L'aquarelle par la finesse et la transparence ces teintes, par la vigueur et l'éclat des couleurs se prête à
                tous les genres de productions, surtout à la peinture des portraits des fleurs des oiseaux et des paysages.
            Ce genre de peinture commença son développement sous Louis XV.</p>
            <p class="jumbotronTitle explain">
                Gouache : Genre de peinture où l’on emploie des couleurs détrempées avec de l’eau, et plus anciennement avec de
                l’eau mêlée de gomme. Il faudrait comprendre sous ce nom toutes les peintures en détrempe, à la colle, à la gomme,
                depuis les décorations de théâtre jusqu’au portrait en miniature, si l’on était convenu de ne désigner sous le nom
                de gouache que de petits tableaux de genre, et plus souvent encore des paysages peints de couleurs détrempées dans
                l’eau mêlée de gomme. L’usage de la gouache est fort ancien. (texte de 1879) <br>
                La gouache ne permet pas d’effet de transparence comme à l’aquarelle.
                Mais la gouache tient à la fois de la détrempe et de l’aquarelle, comme cette dernière elle renferme un agglutinant
                de gomme, et comme la détrempe elle se traite en matière épaisse et non liquide, et elle s’éclaircit en séchant. <br>
                Très en faveur au XVIIIe siècle et au moyen âge, elle fut également traitée par les Persans et les Egyptiens
                qui devaient y mettre comme agglutinants, d’autres gommes que les nôtres. (1923)
                C’est une peinture ou l’on détrempe les couleurs à l’eau gommée, comme dans la miniature : mais qui en diffère en
                ce que dans celle-ci on travaille en pointillant et dans la gouache on couche les couleurs à plat comme pour laver.
            </p>
        </div><!-- end container -->

    </div><!-- end jumbotron -->

    <h1 style="text-align: center; color: white; margin-top:150px">Du classique, du surréaliste, de l'étrange, du curieux.</h1>

    <div class="timeLine">
        <div class="row">
            <div class="lineHeader hidden-sm hidden-xs"></div>
            <div class="lineFooter hidden-sm hidden-xs"></div>

            <!-- img 1 -->
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 item" >
                <div class="caption">
                    <div class="star center-block">
                        <span class="h3">1</span>
                    </div>
                    <div class="image">
                        <img class="realImage" src="{{ asset('img/peintures/aquarelles/aqua1.jpg') }}">
                        <div class="title">
                            <h2>Voilier de pêche<i class="fa fa-arrow-circle-right" aria-hidden="true"></i></h2>
                        </div>
                    </div>
                    <div class="textContent">
                        <p class="lead">Voiliers anciens, ou quand la pêche était encore à la voile.</p>
                    </div>
                </div>
            </div>
            <!-- img 2 -->
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 item">
                <div class="caption">
                    <div class="star center-block">
                        <span class="h3">2</span>
                    </div>
                    <div class="image">
                        <img class="realImage" src="{{ asset('img/peintures/aquarelles/aqua2.jpg') }}">
                        <div class="title">
                            <h2>Bateau de pêche<i class="fa fa-arrow-circle-right" aria-hidden="true"></i></h2>
                        </div>
                    </div>
                    <div class="textContent">
                        <p class="lead">Voiliers anciens, ou quand la pêche était encore à la voile.</p>
                    </div>
                </div>
            </div>
            <!-- img 3 -->
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 item">
                <div class="caption">
                    <div class="star center-block">
                        <span class="h3">3</span>
                    </div>
                    <div class="image">
                        <img class="realImage" src="{{ asset('img/peintures/aquarelles/aqua3.jpg') }}">
                        <div class="title">
                            <h2>Capitainerie de Honfleur<i class="fa fa-arrow-circle-right" aria-hidden="true"></i></h2>
                        </div>
                    </div>
                    <div class="textContent">
                        <p class="lead">Du classique, du surréaliste, de l'étrange, du curieux.</p>
                    </div>
                </div>
            </div>
            <!-- img 4 -->
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 item">
                <div class="caption">
                    <div class="star center-block">
                        <span class="h3">4</span>
                    </div>
                    <div class="image">
                        <img class="realImage" src="{{ asset('img/peintures/aquarelles/aqua4.jpg') }}">
                        <div class="title">
                            <h2>Bateau<i class="fa fa-arrow-circle-right" aria-hidden="true"></i></h2>
                        </div>
                    </div>
                    <div class="textContent">
                        <p class="lead">Du classique, du surréaliste, de l'étrange, du curieux, bateaux en baie d authie.</p>
                    </div>
                </div>
            </div>
            <!-- img 5 -->
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 item">
                <div class="caption">
                    <div class="star center-block">
                        <span class="h3">5</span>
                    </div>
                    <div class="image">
                        <img class="realImage" src="{{ asset('img/peintures/aquarelles/aqua5.jpg') }}">
                        <div class="title">
                            <h2>Baie d'authie<i class="fa fa-arrow-circle-right" aria-hidden="true"></i></h2>
                        </div>
                    </div>
                    <div class="textContent">
                        <p class="lead">Baie d authie.</p>
                    </div>
                </div>
            </div>
            <!-- img 6 -->
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 item">
                <div class="caption">
                    <div class="star center-block">
                        <span class="h3">6</span>
                    </div>
                    <div class="image">
                        <img class="realImage" src="{{ asset('img/peintures/aquarelles/aqua6.jpg') }}">
                        <div class="title">
                            <h2>Ancrage<i class="fa fa-arrow-circle-right" aria-hidden="true"></i></h2>
                        </div>
                    </div>
                    <div class="textContent">
                        <p class="lead">Ancrage à la madelon</p>
                    </div>
                </div>
            </div>
            <!-- img 7 -->
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 item">
                <div class="caption">
                    <div class="star center-block">
                        <span class="h3">7</span>
                    </div>
                    <div class="image">
                        <img class="realImage" src="{{ asset('img/peintures/aquarelles/aqua7.jpg') }}">
                        <div class="title">
                            <h2>Bateau Berckois<i class="fa fa-arrow-circle-right" aria-hidden="true"></i></h2>
                        </div>
                    </div>
                    <div class="textContent">
                        <p class="lead">Du classique, du surréaliste, de l'étrange, du curieux, bateaux en baie d authie.</p>
                    </div>
                </div>
            </div>
            <!-- img 8 -->
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 item">
                <div class="caption">
                    <div class="star center-block">
                        <span class="h3">8</span>
                    </div>
                    <div class="image">
                        <img class="realImage" src="{{ asset('img/peintures/aquarelles/aqua8.jpg') }}">
                        <div class="title">
                            <h2>Berck<i class="fa fa-arrow-circle-right" aria-hidden="true"></i></h2>
                        </div>
                    </div>
                    <div class="textContent">
                        <p class="lead">Les cerfs volants à Berck</p>
                    </div>
                </div>
            </div>
            <!-- img 9 -->
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 item">
                <div class="caption">
                    <div class="star center-block">
                        <span class="h3">9</span>
                    </div>
                    <div class="image">
                        <img class="realImage" src="{{ asset('img/peintures/aquarelles/aqua9.jpg') }}">
                        <div class="title">
                            <h2>Berck<i class="fa fa-arrow-circle-right" aria-hidden="true"></i></h2>
                        </div>
                    </div>
                    <div class="textContent">
                        <p class="lead">Les cerfs volants à Berck.</p>
                    </div>
                </div>
            </div>
            <!-- img 10 -->
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 item">
                <div class="caption">
                    <div class="star center-block">
                        <span class="h3">10</span>
                    </div>
                    <div class="image">
                        <img class="realImage" src="{{ asset('img/peintures/aquarelles/aqua10.jpg') }}">
                        <div class="title">
                            <h2>Berck<i class="fa fa-arrow-circle-right" aria-hidden="true"></i></h2>
                        </div>
                    </div>
                    <div class="textContent">
                        <p class="lead">Les cerfs volants à Berck.</p>
                    </div>
                </div>
            </div>
            <!-- img 11 -->
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 item">
                <div class="caption">
                    <div class="star center-block">
                        <span class="h3">11</span>
                    </div>
                    <div class="image">
                        <img class="realImage" src="{{ asset('img/peintures/aquarelles/aqua11.jpg') }}">
                        <div class="title">
                            <h2>Pêche<i class="fa fa-arrow-circle-right" aria-hidden="true"></i></h2>
                        </div>
                    </div>
                    <div class="textContent">
                        <p class="lead">Un retour de pêche. Du classique, du surréaliste, de l'étrange, du curieux.</p>
                    </div>
                </div>
            </div>
            <!-- img 12 -->
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 item">
                <div class="caption">
                    <div class="star center-block">
                        <span class="h3">12</span>
                    </div>
                    <div class="image">
                        <img class="realImage" src="{{ asset('img/peintures/aquarelles/aqua12.jpg') }}">
                        <div class="title">
                            <h2>Promenade<i class="fa fa-arrow-circle-right" aria-hidden="true"></i></h2>
                        </div>
                    </div>
                    <div class="textContent">
                        <p class="lead">Débarquement de poissons. Du classique, du surréaliste, de l'étrange, du curieux.</p>
                    </div>
                </div>
            </div>
            <!-- img 13 -->
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 item">
                <div class="caption">
                    <div class="star center-block">
                        <span class="h3">13</span>
                    </div>
                    <div class="image">
                        <img class="realImage" src="{{ asset('img/peintures/aquarelles/aqua13.jpg') }}">
                        <div class="title">
                            <h2>Plage<i class="fa fa-arrow-circle-right" aria-hidden="true"></i></h2>
                        </div>
                    </div>
                    <div class="textContent">
                        <p class="lead">La plage de Berck. Du classique, du surréaliste, de l'étrange, du curieux.</p>
                    </div>
                </div>
            </div>
            <!-- img 14 -->
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 item">
                <div class="caption">
                    <div class="star center-block">
                        <span class="h3">14</span>
                    </div>
                    <div class="image">
                        <img class="realImage" src="{{ asset('img/peintures/aquarelles/aqua14.jpg') }}">
                        <div class="title">
                            <h2>Barfleur<i class="fa fa-arrow-circle-right" aria-hidden="true"></i></h2>
                        </div>
                    </div>
                    <div class="textContent">
                        <p class="lead">Du classique, du surréaliste, de l'étrange, du curieux.</p>
                    </div>
                </div>
            </div>
            <!-- img 15 -->
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 item">
                <div class="caption">
                    <div class="star center-block">
                        <span class="h3">15</span>
                    </div>
                    <div class="image">
                        <img class="realImage" src="{{ asset('img/peintures/aquarelles/aqua15.jpg') }}">
                        <div class="title">
                            <h2>Bateau Berckois<i class="fa fa-arrow-circle-right" aria-hidden="true"></i></h2>
                        </div>
                    </div>
                    <div class="textContent">
                        <p class="lead">Bateau Berckois. Peinture à l'aquarelle rehaussées à l'encre de chine noire. </p>
                    </div>
                </div>
            </div>
            <!-- img 16 -->
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 item">
                <div class="caption">
                    <div class="star center-block">
                        <span class="h3">16</span>
                    </div>
                    <div class="image">
                        <img class="realImage" src="{{ asset('img/peintures/aquarelles/aqua16.jpg') }}">
                        <div class="title">
                            <h2>Bateau Berckois<i class="fa fa-arrow-circle-right" aria-hidden="true"></i></h2>
                        </div>
                    </div>
                    <div class="textContent">
                        <p class="lead">Bateau Berckois traditionnel. Peinture à l'aquarelle rehaussées à l'encre de chine noire.</p>
                    </div>
                </div>
            </div>
            <!-- img 17 -->
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 item">
                <div class="caption">
                    <div class="star center-block">
                        <span class="h3">17</span>
                    </div>
                    <div class="image">
                        <img class="realImage" src="{{ asset('img/peintures/aquarelles/aqua17.jpg') }}">
                        <div class="title">
                            <h2>Bateau Berckois<i class="fa fa-arrow-circle-right" aria-hidden="true"></i></h2>
                        </div>
                    </div>
                    <div class="textContent">
                        <p class="lead">Bateau Berckois. Peintures à l'aquarelle rehaussées à l'encre de chine noire.</p>
                    </div>
                </div>
            </div>
            <!-- img 18 -->
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 item">
                <div class="caption">
                    <div class="star center-block">
                        <span class="h3">18</span>
                    </div>
                    <div class="image">
                        <img class="realImage" src="{{ asset('img/peintures/aquarelles/aqua18.jpg') }}">
                        <div class="title">
                            <h2>Promenade<i class="fa fa-arrow-circle-right" aria-hidden="true"></i></h2>
                        </div>
                    </div>
                    <div class="textContent">
                        <p class="lead">Promenade à cheval. Du classique, du surréaliste, de l'étrange, du curieux.</p>
                    </div>
                </div>
            </div>
            <!-- img 19 -->
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 item">
                <div class="caption">
                    <div class="star center-block">
                        <span class="h3">19</span>
                    </div>
                    <div class="image">
                        <img class="realImage" src="{{ asset('img/peintures/aquarelles/aqua19.jpg') }}">
                        <div class="title">
                            <h2>Barfleur<i class="fa fa-arrow-circle-right" aria-hidden="true"></i></h2>
                        </div>
                    </div>
                    <div class="textContent">
                        <p class="lead">Barfleur à marée haute. Du classique, du surréaliste, de l'étrange, du curieux.</p>
                    </div>
                </div>
            </div>
            <!-- img 20 -->
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 item">
                <div class="caption">
                    <div class="star center-block">
                        <span class="h3">20</span>
                    </div>
                    <div class="image">
                        <img class="realImage" src="{{ asset('img/peintures/aquarelles/aqua20.jpg') }}">
                        <div class="title">
                            <h2>Marine<i class="fa fa-arrow-circle-right" aria-hidden="true"></i></h2>
                        </div>
                    </div>
                    <div class="textContent">
                        <p class="lead">La marine en parchemin. Du classique, du surréaliste, de l'étrange, du curieux.</p>
                    </div>
                </div>
            </div>
            <!-- img 21 -->
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 item">
                <div class="caption">
                    <div class="star center-block">
                        <span class="h3">21</span>
                    </div>
                    <div class="image">
                        <img class="realImage" src="{{ asset('img/peintures/aquarelles/aqua21.jpg') }}">
                        <div class="title">
                            <h2>Groffliers<i class="fa fa-arrow-circle-right" aria-hidden="true"></i></h2>
                        </div>
                    </div>
                    <div class="textContent">
                        <p class="lead">Pins et futaie dans la baie de l'authie à Groffliers.
                            Vision teintée de surréalisme car sous les carrés de végétation transparaît un clocher d'église rappel que la
                            nature reprend ses droits et que cette partie du littoral était autrefois sous les eaux.</p>
                    </div>
                </div>
            </div>
            <!-- img 22 -->
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 item">
                <div class="caption">
                    <div class="star center-block">
                        <span class="h3">22</span>
                    </div>
                    <div class="image">
                        <img class="realImage" src="{{ asset('img/peintures/aquarelles/aqua22.jpg') }}">
                        <div class="title">
                            <h2>Plage<i class="fa fa-arrow-circle-right" aria-hidden="true"></i></h2>
                        </div>
                    </div>
                    <div class="textContent">
                        <p class="lead">La plage de Flobart. Du classique, du surréaliste, de l'étrange, du curieux.</p>
                    </div>
                </div>
            </div>
            <!-- img 23 -->
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 item">
                <div class="caption">
                    <div class="star center-block">
                        <span class="h3">23</span>
                    </div>
                    <div class="image">
                        <img class="realImage" src="{{ asset('img/peintures/aquarelles/aqua23.jpg') }}">
                        <div class="title">
                            <h2>Pêche<i class="fa fa-arrow-circle-right" aria-hidden="true"></i></h2>
                        </div>
                    </div>
                    <div class="textContent">
                        <p class="lead">Activité de pêche à Flobart. Du classique, du surréaliste, de l'étrange, du curieux.</p>
                    </div>
                </div>
            </div>
            <!-- img 24 -->
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 item">
                <div class="caption">
                    <div class="star center-block">
                        <span class="h3">24</span>
                    </div>
                    <div class="image">
                        <img class="realImage" src="{{ asset('img/peintures/aquarelles/aqua24.jpg') }}">
                        <div class="title">
                            <h2>Montreuil/Mer<i class="fa fa-arrow-circle-right" aria-hidden="true"></i></h2>
                        </div>
                    </div>
                    <div class="textContent">
                        <p class="lead">Rue ancienne dans la ville fortifiée de Montreuil sur Mer dans le Pas-de-Calais en bordure de la Canche.</p>
                    </div>
                </div>
            </div>
            <!-- img 25 -->
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 item">
                <div class="caption">
                    <div class="star center-block">
                        <span class="h3">25</span>
                    </div>
                    <div class="image">
                        <img class="realImage" src="{{ asset('img/peintures/aquarelles/aqua25.jpg') }}">
                        <div class="title">
                            <h2>Hesdin<i class="fa fa-arrow-circle-right" aria-hidden="true"></i></h2>
                        </div>
                    </div>
                    <div class="textContent">
                        <p class="lead">Passage de la Canche à Hesdin, elle se jette dans la Manche à l'embouchure d'Etaples. vue d'Hesdin  dans le Pas-de-Calais</p>
                    </div>
                </div>
            </div>
            <!-- img 26 -->
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 item">
                <div class="caption">
                    <div class="star center-block">
                        <span class="h3">26</span>
                    </div>
                    <div class="image">
                        <img class="realImage" src="{{ asset('img/peintures/aquarelles/aqua26.jpg') }}">
                        <div class="title">
                            <h2>Lille<i class="fa fa-arrow-circle-right" aria-hidden="true"></i></h2>
                        </div>
                    </div>
                    <div class="textContent">
                        <p class="lead">Vue d'une rue de Lille à partir de la place du général de Gaulle.</p>
                    </div>
                </div>
            </div>
            <!-- img 27 -->
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 item">
                <div class="caption">
                    <div class="star center-block">
                        <span class="h3">27</span>
                    </div>
                    <div class="image">
                        <img class="realImage" src="{{ asset('img/peintures/aquarelles/aqua27.jpg') }}">
                        <div class="title">
                            <h2>Soleil<i class="fa fa-arrow-circle-right" aria-hidden="true"></i></h2>
                        </div>
                    </div>
                    <div class="textContent">
                        <p class="lead">Coucher se soleil vu de la mer.</p>
                    </div>
                </div>
            </div>
            <!-- img 28 -->
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 item">
                <div class="caption">
                    <div class="star center-block">
                        <span class="h3">28</span>
                    </div>
                    <div class="image">
                        <img class="realImage" src="{{ asset('img/peintures/aquarelles/aqua28.jpg') }}">
                        <div class="title">
                            <h2>Epave<i class="fa fa-arrow-circle-right" aria-hidden="true"></i></h2>
                        </div>
                    </div>
                    <div class="textContent">
                        <p class="lead">Epave échouée en bord de mer.</p>
                    </div>
                </div>
            </div>
            <!-- img 29 -->
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 item">
                <div class="caption">
                    <div class="star center-block">
                        <span class="h3">29</span>
                    </div>
                    <div class="image">
                        <img class="realImage" src="{{ asset('img/peintures/aquarelles/aqua29.jpg') }}">
                        <div class="title">
                            <h2>Bateau<i class="fa fa-arrow-circle-right" aria-hidden="true"></i></h2>
                        </div>
                    </div>
                    <div class="textContent">
                        <p class="lead">Un bateau Berckois à Waben. Du classique, du surréaliste, de l'étrange, du curieux.</p>
                    </div>
                </div>
            </div>
            <!-- img 30 -->
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 item">
                <div class="caption">
                    <div class="star center-block">
                        <span class="h3">30</span>
                    </div>
                    <div class="image">
                        <img class="realImage" src="{{ asset('img/peintures/aquarelles/aqua30.jpg') }}">
                        <div class="title">
                            <h2>La connaissance<i class="fa fa-arrow-circle-right" aria-hidden="true"></i></h2>
                        </div>
                    </div>
                    <div class="textContent">
                        <p class="lead">La connaissance partagée ou la sublimation de l'être.</p>
                    </div>
                </div>
            </div>
            <!-- img 31 -->
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 item">
                <div class="caption">
                    <div class="star center-block">
                        <span class="h3">31</span>
                    </div>
                    <div class="image">
                        <img class="realImage" src="{{ asset('img/peintures/aquarelles/aqua31.jpg') }}">
                        <div class="title">
                            <h2>Chapelle<i class="fa fa-arrow-circle-right" aria-hidden="true"></i></h2>
                        </div>
                    </div>
                    <div class="textContent">
                        <p class="lead">La chapelle Saint Michel.</p>
                    </div>
                </div>
            </div>
            <!-- img 32 -->
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 item">
                <div class="caption">
                    <div class="star center-block">
                        <span class="h3">32</span>
                    </div>
                    <div class="image">
                        <img class="realImage" src="{{ asset('img/peintures/aquarelles/aqua32.jpg') }}">
                        <div class="title">
                            <h2>Rosier<i class="fa fa-arrow-circle-right" aria-hidden="true"></i></h2>
                        </div>
                    </div>
                    <div class="textContent">
                        <p class="lead">Du classique, du surréaliste, de l'étrange, du curieux.</p>
                    </div>
                </div>
            </div>
            <!-- img 33 -->
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 item">
                <div class="caption">
                    <div class="star center-block">
                        <span class="h3">33</span>
                    </div>
                    <div class="image">
                        <img class="realImage" src="{{ asset('img/peintures/aquarelles/aqua33.jpg') }}">
                        <div class="title">
                            <h2>Mythologie scandinave<i class="fa fa-arrow-circle-right" aria-hidden="true"></i></h2>
                        </div>
                    </div>
                    <div class="textContent">
                        <p class="lead">Ask et Embla, premier couple humain dans la mythologie scandinave.
                            Peintures à l'aquarelle rehaussées à l'encre de chine noire.</p>
                    </div>
                </div>
            </div>

        </div>
    </div> <!-- end timeline -->

    {% block javascripts %}
    {% endblock %}
    <script src="{{ asset('js/responsive_timeline/timeLine.js') }}"></script>
    <script src="{{ asset('js/responsive_timeline/script.js') }}"></script>

{% endblock %}