{{ form_start(form) }}

<div class="row">
    <div class="col col-md-6">
        {{ form_widget(form.type, {"attr": {
            "placeholder" : "Type"}}) }})
    </div>
    <div class="col col-md-6">
        {{ form_widget(form.title, {"attr": {
            "placeholder" : "Titre"}}) }})
    </div>
</div>

    <button class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
