{% extends 'base.html.twig' %}

{% block title %}Peintures index{% endblock %}

{% block body %}
    <h1>Peintures index</h1>
    <a class="float-right btn btn-primary" href="{{ path('painting_new') }}">Ajouter</a>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Type</th>
                <th>Titre</th>
                <th>Description</th>
                <th>Chemin source</th>
                <th>Categorie</th>
                <th>Apperçu</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for painting in paintings %}
            <tr>
                <td>{{ painting.id }}</td>
                <td>{{ painting.type }}</td>
                <td>{{ painting.title }}</td>
                <td>{{ painting.description }}</td>
                <td>{{ painting.img }}</td>
                <td>{{ painting.category }}</td>
                <td><img src="{{ asset(painting.img) }}" alt="oeuvre de Mr Turgis" style="width: 10vw"></td>
                <td>
                    <a  class="btn btn-primary" href="{{ path('painting_show', {'id': painting.id}) }}">Voir</a>
                    <a class="btn btn-secondary" href="{{ path('painting_edit', {'id': painting.id}) }}">Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Aucun résultat</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
