{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>
    <a href="{{ path('carving_index') }}">Annuler</a>
{{ form_end(form) }}
