{% extends 'base.html.twig' %}

{% block title %}Supprimer sculpture{% endblock %}

{% block body %}
    <h1>Supprimer sculpture</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ carving.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ carving.title }}</td>
            </tr>
            <tr>
                <th>Support</th>
                <td>{{ carving.support }}</td>
            </tr>
            <tr>
                <th>Img</th>
                <td>{{ carving.img }}</td>
            </tr>
        </tbody>
    </table>

    {{ include('Admin/carving/_delete_form.html.twig') }}
{% endblock %}
